<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd" >
    <bean id = "vehicle" class = "com.rana.xmlbased.Bike"></bean>


<!--    <bean id = "tyre" class="com.rana.xmlbased.Tyre">-->
<!--        <property name="brand" value="MRF"></property>-->
<!--    </bean>-->

    <bean id ="tyre" class="com.rana.xmlbased.Tyre">
        <constructor-arg value="MRF"></constructor-arg>
        <property name="vehicle" value="Car"></property>
    </bean>
</beans>